<h1 style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 24px; margin: 0;">Your {{app.title}} login details have changed</h1>
<p style="margin: 0; margin-top: 16px;">Hi {{user.firstName}}, this email was sent to let you know that your username and/or password for {{app.title}} has been changed.</p>
<p style="margin: 0; margin-top: 16px;">If you did not change your username or password recently, and have not asked an administrator to change it for you, please contact us.</p>
